name: Build and release container

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  release:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux/amd64
            name: "AMD64 API-Only"
            dockerfile: "docker/Dockerfile"
            tag_suffix: "-api-only"
            api_only: "1"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          flavor: |
            latest=false
            suffix=${{ matrix.tag_suffix }}
          tags: |
            type=semver,pattern={{version}}
            type=raw,value=latest
          labels: |
            quay.expires-after=12w

      - name: Build and push Docker ${{ matrix.name }} image for Push Event
        uses: docker/build-push-action@v6
        with:
          context: .
          file:  ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            "release=1"
            "api_only=${{ matrix.api_only }}"
